<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Android API Server</title>
  <style>
    html {
      padding: 0;
      margin: 0;

      min-height: 100vh;
      font-family: sans-serif;
    }

    body {
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      min-height: inherit;
    }

    header,
    #content,
    footer {
      display: inherit;
      flex-direction: inherit;
      justify-content: inherit;
      align-items: inherit;
    }
  </style>
</head>

<body>
  <header>
    <h1>Android API Server</h1>
  </header>
  <section id="content">
    <p>API 接口格式请点击<a
        href="https://devindon.github.io/android-api-server/#/%E9%99%84%E5%BD%95-API%E6%8E%A5%E5%8F%A3">传送门</a></p>
    <p>本服务器的搭建笔记及教程请点击<a href="https://devindon.github.io/android-api-server/">传送门</a></p>
  </section>
  <footer>
    <p>本站今天已被访问了 <span th:text="${total}"></span> 次</p>
    <p>现在时间 <span id="time">00:00:00</span></p>
  </footer>
</body>

<script>
  const time = document.getElementById('time');
  time.innerText = new Date().toTimeString().slice(0, 8);
  setInterval(() => time.innerText = new Date().toTimeString().slice(0, 8), 1000);
</script>

</html>
